SKS_ORIGIN=http://127.0.0.1:4317
SKS_PORT=4317
SKS_BIND_ADDRESS=127.0.0.1
SKS_DATABASE_PATH=./data/sks.sqlite
LINE_LOGIN_CHANNEL_ID=
LINE_LIFF_ID=
# Generate privately with: node -e "console.log(require('node:crypto').randomBytes(24).toString('base64url'))"
SKS_INVITE_CODE=
